<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">{{currentGame.playerTurnId == currentUser.id ? 'Your turn !' : 'Your opponent is playing...'}}</h3>
            <div class="row min-height">
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <app-ships-state></app-ships-state>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <app-opponent-shot></app-opponent-shot>
                </div>
                <div class="col-md-2">
                    <app-message [currentUser]="currentUser" [currentGame]="currentGame"></app-message>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-ships-state></app-ships-state>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
