<div class="row mt-3">
  <div class="col-md-12">
    <span *ngIf="gamesLoading">
      <br>
      <div class="text-center">
        <app-waiter></app-waiter>
      </div>
      <br>
    </span>
    <table class="table table-striped" *ngIf="lastGames">
      <thead>
        <tr>
          <th scope="col">Mode</th>
          <th scope="col">Résultat</th>
          <th scope="col">Adversaire</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of lastGames">
          <td>{{ game.gameTypeName }}</td>
          <td>{{ game.winnerId == currentUser.id ? 'Victory' : 'Defeat' }}</td>
          <td>{{ game.player1Id == currentUser.id ? game.player1Nickname : game.player2Nickname }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
