<div class="row">
    <div class="col-md-12">
        <div *ngIf="game && game.stateId == gameState.waitingPlacements">
            <app-placement *ngIf="!currentUserPlacementOK(); else waitingOpponent" 
                [currentGame]="game"
                [currentUser]="currentUser"
                (gameEmitter)="placementCompleted($event)"
                >
            </app-placement>
        </div>
        
        <app-main-screen *ngIf="game && game.stateId == gameState.inProgress" 
        [currentUser]="currentUser"
        [currentGame]="game"></app-main-screen>
    </div>
</div>
<ng-template #waitingOpponent>
    <div class="row">
        <div class="card col-md-12">
            <h3 class="mt-2 text-center">Waiting opponent placement...</h3>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a [routerLink]="['/home']">
                        <br>
                        <button class="btn btn-secondary mt-4">< Home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
  

