<div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Statistiques</h3>

          <app-stats></app-stats>

        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Jouer</h3>
  
            <app-play></app-play>
  
          </div>
        </div>
        <div class="card">
            <div class="card-body">
              <h3 class="card-title text-center">Decks</h3>
    
              <app-deck></app-deck>
    
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Dernières parties</h3>
  
            <app-histo></app-histo>
  
          </div>
        </div>
      </div>
  </div>
  
