<div class="row m-t-10">
  <div class="col-md-6 fiche-lot-utilisateur-import">
    <span class="import-text">
      Importé le
      {{
        avis.dateMisAJour
          ? (avis.dateMisAJour | date: "dd/MM/yyy HH:mm")
          : (avis.dateCreation | date: "dd/MM/yyy HH:mm")
      }}
      par
      {{
        avis.utilMisajournom && avis.utilMisajournom !== " "
          ? avis.utilMisajournom
          : avis.utilCreationnom
          ? avis.utilCreationnom
          : ""
      }}
    </span>
  </div>
  <div class="col-md-6 text-right">
    <button
      class="btn btn-default d-inline-block text-center"
      (click)="onClickExport()"
    >
      <i class="icon-cloud-download"></i>
    </button>
    <h4 class="d-inline-block m-b-0 align-bottom">
      Campagne {{ currentCampagne }}
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="fiche-lot-card">
      <div class="card-header">Synthèse</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-8">
                  <span class="font-weight-bold m-r-20">{{avis.reference ? 'Avis n° ' + avis.reference : ''}}</span>
                  <span class="font-weight-bold m-r-20">{{avis.communeNom ? avis.communeNom : ''}}</span>
                  <span class="font-weight-bold">{{avis.numeroProprietaire ? 'N° propriétaire : ' + avis.numeroProprietaire : ''}}</span>
              </div>
              <div class="col-md-4">
                <span class="font-weight-bold m-r-10">{{avis.montantImpot ? 'Total : ' + avis.montantImpot + ' €': ''}}</span>
                <span class="font-weight-bold">{{avis.fraisGestion ? 'Frais : ' + avis.fraisGestion + ' €': ''}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p class="font-weight-bold m-t-40">Cotisations bâties</p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <td></td>
                      <td>Taux</td>
                      <td>Cotisation</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Commune</td>
                      <td>{{ avis.tauxBatiCom }} %</td>
                      <td>{{ avis.cotisationBatiCom }} €</td>
                    </tr>
                    <tr>
                      <td>Synd. communes</td>
                      <td>{{ avis.tauxBatiSynd }} %</td>
                      <td>{{ avis.cotisationBatisynd }} €</td>
                    </tr>
                    <tr>
                      <td>Interco</td>
                      <td>{{ avis.tauxBatiInterco }} %</td>
                      <td>{{ avis.cotisationBatiInterco }} €</td>
                    </tr>
                    <tr>
                      <td>Département</td>
                      <td>{{ avis.tauxBatiDep }} %</td>
                      <td>{{ avis.cotisationBatiDep }} €</td>
                    </tr>
                    <tr>
                      <td>TSE</td>
                      <td>{{ avis.tauxBatiTs }} %</td>
                      <td>{{ avis.cotisationBatiTs }} €</td>
                    </tr>
                    <tr>
                      <td>TOM</td>
                      <td>{{ avis.tauxBatiTom }} %</td>
                      <td>{{ avis.cotisationBaiTom }} €</td>
                    </tr>
                    <tr>
                      <td>GEMAPI</td>
                      <td>{{ avis.tauxBatiGemapi }} %</td>
                      <td>{{ avis.cotisationBatiGemapi }} €</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td></td>
                      <td>{{ avis.totalBati }} €</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <p class="font-weight-bold m-t-40">Cotisations non bâties</p>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <td></td>
                        <td>Taux</td>
                        <td>Cotisation</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Commune</td>
                        <td>{{ avis.tauxNonBatiCom }} %</td>
                        <td>{{ avis.cotisationNonBatiCom }} €</td>
                      </tr>
                      <tr>
                        <td>Synd. communes</td>
                        <td>{{ avis.tauxNonBatiSynd }} %</td>
                        <td>{{ avis.cotisationNonBatiSynd }} €</td>
                      </tr>
                      <tr>
                        <td>Interco</td>
                        <td>{{ avis.tauxNonBatiInterco }} %</td>
                        <td>{{ avis.cotisationNonBatiInterco }} €</td>
                      </tr>
                      <tr>
                        <td>Taxe additionnelle</td>
                        <td>{{ avis.tauxNonBatiAditionnel }} %</td>
                        <td>{{ avis.cotisationNonBatiAdditionnel }} €</td>
                      </tr>
                      <tr>
                        <td>Taxe spéciale</td>
                        <td>{{ avis.tauxNonBatiTs }} %</td>
                        <td>{{ avis.cotisationNonBatiTs }} €</td>
                      </tr>
                      <tr>
                        <td>Chambre d'agriculture</td>
                        <td>{{ avis.tauxNonBatiChambreAgriculture }} %</td>
                        <td>{{ avis.cotisationNonBaiChambreagriculture }} €</td>
                      </tr>
                      <tr>
                        <td>GEMAPI</td>
                        <td>{{ avis.tauxNonBatiGemapi }} %</td>
                        <td>{{ avis.cotisationNonBatiGemapi }} €</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Total</td>
                        <td></td>
                        <td>{{ avis.totalNonBati }} €</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="fiche-lot-card">
      <div class="card-header">Pièces jointes</div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            Formats acceptés : xlsx, docx, pdf, txt, png, jpg, jpeg
          </div>
        </div>
        <div class="row m-t-10">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
              <button
              class="btn btn-outline-warning w-100 btn-doc"
              (click)="onClickImport(typesImportEnum.docAvisSynthetique, typesPiecesJointesAvisLabelEnum.docAvisSynthetique)"
            >
              <i class="icon-cloud-upload m-r-10"></i>{{typesPiecesJointesAvisLabelEnum.docAvisSynthetique}}
            </button>
            <ul class="ul-doc">
              <li *ngFor="let doc of docAvisSynthetiques">
                {{doc.nom}}
                <i class="icon-trash text-danger font-weight-bold cursor-pointer m-r-5" (click)="onClickDeletePieceJointe(doc.id, typesImportEnum.docAvisSynthetique)"></i>
                <i class="icon-doc text-info font-weight-bold cursor-pointer" (click)="onClickExportPieceJointe(doc)"></i>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
              <button
              class="btn btn-outline-warning w-100 btn-doc"
              (click)="onClickImport(typesImportEnum.docAvisDetaille, typesPiecesJointesAvisLabelEnum.docAvisDetaille)"
            >
              <i class="icon-cloud-upload m-r-10"></i>{{typesPiecesJointesAvisLabelEnum.docAvisDetaille}}
            </button>
            <ul class="ul-doc">
              <li *ngFor="let doc of docAvisDetailles">
                {{doc.nom}}
                <i class="icon-trash text-danger font-weight-bold cursor-pointer m-r-5" (click)="onClickDeletePieceJointe(doc.id, typesImportEnum.docAvisDetaille)"></i>
                <i class="icon-doc text-info font-weight-bold cursor-pointer" (click)="onClickExportPieceJointe(doc)"></i>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
              <button
              class="btn btn-outline-warning w-100 btn-doc"
              (click)="onClickImport(typesImportEnum.docAvisDemandeRegularisation, typesPiecesJointesAvisLabelEnum.docAvisDemandeRegularisation)"
            >
              <i class="icon-cloud-upload m-r-10"></i>{{typesPiecesJointesAvisLabelEnum.docAvisDemandeRegularisation}}
            </button>
            <ul class="ul-doc">
              <li *ngFor="let doc of docAvisDemandeRegularisations">
                {{doc.nom}}
                <i class="icon-trash text-danger font-weight-bold cursor-pointer m-r-5" (click)="onClickDeletePieceJointe(doc.id, typesImportEnum.docAvisDemandeRegularisation)"></i>
                <i class="icon-doc text-info font-weight-bold cursor-pointer" (click)="onClickExportPieceJointe(doc)"></i>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
              <button
              class="btn btn-outline-warning w-100 btn-doc"
              (click)="onClickImport(typesImportEnum.docAvisFacture, typesPiecesJointesAvisLabelEnum.docAvisFacture)"
            >
              <i class="icon-cloud-upload m-r-10"></i>{{typesPiecesJointesAvisLabelEnum.docAvisFacture}}
            </button>
            <ul class="ul-doc">
              <li *ngFor="let doc of docAvisFactures">
                {{doc.nom}}
                <i class="icon-trash text-danger font-weight-bold cursor-pointer m-r-5" (click)="onClickDeletePieceJointe(doc.id, typesImportEnum.docAvisFacture)"></i>
                <i class="icon-doc text-info font-weight-bold cursor-pointer" (click)="onClickExportPieceJointe(doc)"></i>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
              <button
              class="btn btn-outline-warning w-100 btn-doc"
              (click)="onClickImport(typesImportEnum.docAvisRetourAdministrationFiscale, typesPiecesJointesAvisLabelEnum.docAvisRetourAdministrationFiscale)"
            >
              <i class="icon-cloud-upload m-r-10"></i>{{typesPiecesJointesAvisLabelEnum.docAvisRetourAdministrationFiscale}}
            </button>
            <ul class="ul-doc">
              <li *ngFor="let doc of docAvisRetourAdministrationFiscales">
                {{doc.nom}}
                <i class="icon-trash text-danger font-weight-bold cursor-pointer m-r-5" (click)="onClickDeletePieceJointe(doc.id, typesImportEnum.docAvisRetourAdministrationFiscale)"></i>
                <i class="icon-doc text-info font-weight-bold cursor-pointer" (click)="onClickExportPieceJointe(doc)"></i>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
              <button
              class="btn btn-outline-warning w-100 btn-doc"
              (click)="onClickImport(typesImportEnum.docAvisAnnexe, typesPiecesJointesAvisLabelEnum.docAvisAnnexe)"
            >
              <i class="icon-cloud-upload m-r-10"></i>{{typesPiecesJointesAvisLabelEnum.docAvisAnnexe}}
            </button>
            <ul class="ul-doc">
              <li *ngFor="let doc of docAvisAnnexes">
                {{doc.nom}}
                <i class="icon-trash text-danger font-weight-bold cursor-pointer m-r-5" (click)="onClickDeletePieceJointe(doc.id, typesImportEnum.docAvisAnnexe)"></i>
                <i class="icon-doc text-info font-weight-bold cursor-pointer" (click)="onClickExportPieceJointe(doc)"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="fiche-lot-card">
      <div class="card-header">Commentaires</div>
      <div class="card-body">
        <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()">
          <div class="form-group">
            <textarea
              class="form-control"
              rows="5"
              id="comment"
              formControlName="commentaire"
            ></textarea>
          </div>
          <div class="form-group text-right">
            <button class="btn btn-success" type="submit">
              <i class="icon-check"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #importModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Import - {{currentTypePieceJointeLabel}}
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="closeImportModal()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="choosefiles">
        <div class="form-group row">
            <label for="file-input" class="col-3 col-form-label"
          >Fichier <span class="text-danger">*</span></label
        >
        <div class="col-9">
              <input
                #importInputFile
                type="file"
                (change)="changeImportFile(importInputFile.files)"
              />
            </div>

        </div>
        <div
        class="form-group row m-t-20"
      >
        <label for="nom-input" class="col-3 col-form-label"
          >Nom <span class="text-danger">*</span></label
        >
        <div class="col-9">
          <input
            (change)="onKeyUpNameFile($event.target.value)"
            (keyup)="onKeyUpNameFile($event.target.value)"
            class="form-control"
            type="text"
            id="nom-input"
            value="{{currentNamePieceJointe}}"
          />
        </div>
      </div>
        <span class="custom-file-control"></span>
        <button
          *ngIf="importFile && !importLoading && currentNamePieceJointe"
          class="add btn btn-success"
          (click)="importPieceJointe()"
        >
          Enregistrer
        </button>
        <span class="m-l-10" *ngIf="importLoading"
          ><app-waiter></app-waiter
        ></span>
      </div>
      <p *ngIf="importText" class="m-t-20">
        {{ importText }}
      </p>
    </div>
  </ng-template>
